body {
  background-image: url('../img/background/bkgd.jpeg') !important;
  background-size: cover !important;
  /* color: white !important; */
}

.md-main__inner {
  margin: 0 !important;
}

.md-grid {
  width: 100% !important;
  max-width: 100% !important;
}

header, .md-tabs {
  background-color: #0E0B20 !important;
}

.md-nav, .md-nav__title, .md-nav__item, .md-nav__link {
  color: white !important;
  box-shadow: 0 0 0 0 !important;
  background-color: transparent !important;
}

.md-header__button {
  display: none !important;
}

.md-header__title {
  display: none !important;
}

.md-header__inner {
  position: absolute !important;
  justify-content: end !important;
}

.md-tabs__link {
  padding: 6px 8px !important;
  border-radius: 8px !important;
}

.md-tabs__link:hover {
  background-color: #4c42d775 !important;
}

.md-tabs__link--active {
  background-color: #4B42D7 !important;
}

.md-sidebar--primary .md-nav__link {
  padding: 6px 8px !important;
  border-radius: 8px !important;
}

.md-sidebar--primary .md-nav__link:hover {
  background-color: #4c42d775 !important;
}

.md-sidebar--primary .md-nav__link--active {
  background-color: #4B42D7 !important;
}

input {
  border-radius: 4px !important;
  border: 1px solid rgb(88, 88, 88) !important;
}